.error-page {

    text-align: center;

    &__wrapper {
        min-height: 600px;

        img {
            object-fit: contain;
            max-width: 600px;
            height: auto;
        }
    }

}