.banner {
    &--normal {
        background-color: #eafbed;

        @include mq($until: lg) {
            .subheading {
                margin-bottom: 30px;
            }
        }
    }

    &--plain {
        background-image: linear-gradient(#f4f4f5, $white);
        text-align: center;

        h1 {
            margin-bottom: 40px;
        }

        .subheading {
            margin-bottom: 30px;
        }
    }

    &--home {
        background-color: $dark-green;
        color: $white;
        min-height: 700px;
        height: 88vh;

        @include mq($until: lg) {
            height: calc(100vh - 70px);
            min-height: 600px;
        }

        .container {
            height: 100%;
        }
    }

    &__wrapper {
        .banner--normal & {
            .row {
                align-items: center;
            }
        }

        .banner--plain & {
            .row {
                justify-content: center;
            }
        }

        .banner--home & {

            &,
            .row {
                height: 100%;
            }

            .row {
                align-items: center;
            }
        }

        @include mq($until: lg) {
            .product-page & {
                .row {
                    flex-direction: column-reverse;

                    .subtitle {
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }


    &__button {
        .banner--home & {
            margin-top: 24px;

            .btn-lead {
                margin-right: 20px;
            }

            .btn-arrow {
                color: $white;
            }
        }
    }
}