.header {
    background: $dark-green;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    transition: $transition-default;

    .header-scroll & {
        background: $white;
        border-bottom: 1px solid #f4f4f5;
    }

    .internal-page & {
        background: $white;
        border-bottom: 1px solid #f4f4f5;
    }

    &__logo {
        a {
            text-decoration: none;
            color: $white;
            font-weight: 900;
            font-size: 32px;

            .header-scroll &,
            .internal-page & {
                color: $black;
            }
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;

        @include mq($until: lg) {
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;

        @include mq($until: lg) {

            position: fixed;
            z-index: 1000;
            top: 0;
            left: 30%;
            bottom: 0;
            right: 0;
            flex-direction: column;
            padding: min(35vh, 12rem) 2rem;
            transform: translateX(100%);
            transition: transform 0.3s ease-out;
            background-color: $white;

            &[data-visible="true"] {
                transform: translateX(0%);
            }
        }

        li {
            margin-right: 24px;

            &:last-child {
                margin-right: 0;
            }
        }

        &-link {
            color: $white;
            text-decoration: none;
            transition: $transition-default;
            position: relative;

            &:not(.btn-primary) {
                &::before {
                    content: "";
                    position: absolute;
                    width: 0%;
                    height: 1px;
                    bottom: -10px;
                    background-color: transparent;
                    transition: $transition-default;
                    transform-origin: left;
                }
            }

            .header-scroll &,
            .internal-page &,
            &.btn-primary,
            [data-visible="true"] & {
                color: $black;
            }

            .active & {
                color: $primary;
            }

            &:hover,
            &:focus {

                .header-scroll &,
                .internal-page & {
                    color: $dark-green;

                    &::before {
                        background-color: $dark-green;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.hamburger {
    border: none;

    &__wrapper {
        display: none;

        @include mq($until: lg) {
            display: block;
            position: relative;
            z-index: 9999;
            border: 0;
            width: 1.5rem;
            top: 5px;
            right: 25px;
        }
    }

    width: 40px;
    height: 35px;
    position: relative;
    transform: rotate(0deg);
    transition: $transition-default;
    cursor: pointer;

    &:hover {
        transform: none;
    }

    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: $primary;
        border-radius: 12px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: $transition-default;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 14px;
        }

        &:nth-child(4) {
            top: 28px;
        }

    }

    &[aria-expanded="true"] {
        span {
            &:nth-child(1) {
                top: 14px;
                width: 0%;
                left: 50%;
            }

            &:nth-child(2) {
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
            }

            &:nth-child(4) {
                top: 14px;
                width: 0%;
                left: 50%;
            }
        }
    }

}