.step {
    background-color: $light-green;

    &__progress {
        .row {
            @include mq($from: xl) {
                margin-left: -30px;
                margin-right: -30px;

                .col-md-6 {
                    padding-left: 30px;
                    padding-right: 30px;
                }

            }
        }
    }

    h2 {
        margin-bottom: 24px;

        @include mq($until: lg) {
            margin-bottom: 16px;
        }
    }

    &__image {
        margin-top: 24px;
    }

    &__wrapper {
        position: relative;
        overflow: hidden;

        @include mq($until: lg) {
            margin-top: 24px;
        }
    }

    &__bar {
        position: absolute;
        height: var(--height, 100%);
        width: 10px;
        left: 28px;
        top: var(--top);

        &--current {
            position: absolute;
            display: block;
            width: 2px;
            background-color: $dark-green;
            transition: $transition-default;
        }

        &--rails {
            width: 2px;
            background: $dark-green;
            height: 100%;
            opacity: 0.2;
            display: block;
        }

        @include mq($until: lg) {
            left: 26px;

            &--rails,
            &--current {
                width: 4px;
            }
        }
    }

    &__item {
        display: flex;
        padding-bottom: 48px;
        position: relative;
        z-index: 2;

        @include mq($until: lg) {
            padding-bottom: 32px;
        }

        &:last-child {
            background-color: $light-green;

        }

        &:nth-child(2) & {
            &-order {
                box-shadow: inset 0 0 0 2px $dark-green;
            }
        }

        &-order {
            width: 56px;
            flex: 0 0 56px;
            height: 56px;
            margin-right: 32px;
            background-color: $white;
            box-shadow: inset 0 0 0 1px $dark-green;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 2;
            transition: $transition-default;

            @include mq($until: lg) {
                margin-right: 24px;
            }

            span {
                color: $dark-green;
                font-size: 26px;
                line-height: 31.2px;
                font-weight: 600;
                transition: $transition-default;
            }

            &.active {
                box-shadow: inset 0 0 0 2px $dark-green;
                background-color: $dark-green;

                span {
                    color: $primary;

                }
            }
        }

        h3 {
            margin-bottom: 24px;
            color: $black;
        }

        p,
        li,
        a {
            font-size: inherit;
        }
    }

    &__image {
        position: relative;
        padding-top: 75%;

        img {
            @include img-ratio();
        }
    }

    &__button {
        .btn-lead {
            margin-right: 20px;
        }
    }
}