.text-media {
    background-color: #fafafa;

    &__wrapper {
        .row {
            align-items: center;

            .text-media--slider & {
                &:not(:last-child) {
                    margin-bottom: 40px;
                }
            }

            @include mq($until: lg) {
                .text-media--left & {
                    @include mq($until: lg) {
                        flex-direction: column-reverse;
                    }
                }
            }

        }

        @include mq($until: lg) {
            .subheading {
                margin-bottom: 24px;
            }

        }
    }

    &__description {
        @include mq($until: lg) {
            margin-bottom: 24px;
        }
    }
}