// Vendor override
@import 'vendor/override';

// Utils
@import 'utils/variables';
@import 'fonts/Montserrat/stylesheet.css';

// vendors
@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import 'vendor/mq';

// Reboot
@import 'utils/reboot';

// Components
@import 'components/header';


.sr-only {
    border: 0;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    float: left;
}

.container {
    padding-left: 20px;
    padding-right: 20px;

    @include mq($until: lg) {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
    padding: 16px 34px 18px;
    font-size: 15px;
}