// Vendor override
@import 'vendor/override';

// vendors
@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import 'vendor/mq';



.container {
    padding-left: 20px;
    padding-right: 20px;

    @include mq($until: lg) {
        padding-left: 25px;
        padding-right: 25px;
    }
}